# Caches
.pre-commit-cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
__pycache__

# Python
.venv/

# User environment variables
.env

# Test temporary files
tests/tmp/

# Build temporary files
build/
